<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary shadow">
  <a class="navbar-brand" href="#">Scalable Grid</a>
</nav>
<div class="container">
  <div class="row mt-5">
    <button class="btn btn-primary mt-4" (click)="showOrHideColumn()">Show/Hide</button>
    <div class="shadow p-4 mb-3 mt-2 bg-white rounded"><div class="col-md-12">
      <p-table [value]="books" [paginator]="true" [responsive]="true" [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        selectionMode="single" [(selection)]="selectedbook" dataKey="name"
        (onRowSelect)="onRowSelect($event)" >
          <ng-template pTemplate="header">
              <tr>
                  <th *ngFor=" let col of cols" [pSortableColumn]="col.field" [ngStyle]="{'display': col.display}">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-book >
            <tr [pSelectableRow]="book" >
              <td *ngFor="let col of cols" [ngStyle]="{'display': col.display}">
                <span class="ui-column-title">{{col.header}}</span>
                  {{book[col.field]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div style="text-align: left">
                <span class="h6">Selected Row:</span> {{selectedbook ? selectedbook.name + ' - ' + selectedbook.pages + ' - ' + selectedbook.status + ' - ' + selectedbook.isbn : 'none'}}
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
